<link rel="stylesheet" href="/src/css/header.css" />
<header class="site-header">
  <div class="logo">
    <a href="../index.html" class="logo-link">
      <img src="/src/img/logo.svg" loading="lazy" alt="logo" class="logo-img" />
      <p class="logo-text">Cinemania</p>
    </a>
  </div>
  <div class="mobile-menu__container" id="mobile-menu__container" data-menu>
    <a href="../index.html" class="logo-link mobile-menu__logo">
      <img
        loading="lazy"
        src="/src/img/logo.svg"
        alt="logo"
        class="mobile-menu__logo-img"
    /></a>
    <nav class="nav-bar">
      <ul class="nav-list">
        <li class="nav-list__item">
          <a href="../index.html">HOME</a>
        </li>
        <li class="nav-list__item">
          <a href="../catalog.html">CATALOG</a>
        </li>
        <li class="nav-list__item">
          <a href="../library.html">MY LIBRARY</a>
        </li>
      </ul>
    </nav>
  </div>
  <button type="button" class="header__menu-button" data-menu-open>MENU</button>
  <div class="header__theme-switcher" id="theme-switcher">
    <svg id="icon-moon">
      <use href="/src/img/night-mode.svg"></use>
    </svg>
    <svg id="icon-sun">
      <use href="/src/img/sunMod.svg"></use>
    </svg>
  </div>
  <div class="backdrop visually-hidden" data-backdrop></div>

  <script type="module" src="../js/header.js"></script>
</header>
