<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cinemania</title>
    <link rel="stylesheet" href="../css/nur-emre.css" />
  </head>
  <body>
    <div class="container">
      <div class="weekly-see">
        <h2 class="weekly-trends">WEEKLY TRENDS</h2>
        <a class="see" href="#">See all</a>
      </div>
      <div class="img">
       
      </div>
    </div>

    <!-- <div class="deneme"></div> -->

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script type="module" src="../js/nur-emre.js"></script>
  </body>
</html>
