<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <div class="upcoming-section" id="home-upcoming">
        <h2 class="upcoming-title">UPCOMING THIS MONTH</h2>
        <div class="upcoming-information"></div>
      </div>
    </div>

    <!-- <section class="upcoming-section">
  <div class="container">
    <div id="upcoming-movies" class="upcoming-movies">
      <div>
        <h2 class="upcoming-text">UPCOMING THIS MONTH</h2>
      </div>
      <div id="movie-container" class="movie-container"></div>
      <div id="loader-upcoming" class="loader"></div>
    </div>
  </div>
</section> -->

    <script type="module" src="../js/upcoming.js"></script>
  </body>
</html>
