@media screen and (max-width: 360px) {
  body {
    background-color: black;
    color: aliceblue;
    font-family: "Roboto", sans-serif;
  }
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    margin-top: 40px;
  }

  .weekly-see {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 280px;
    margin-bottom: 24px;
  }
  .see {
    color: #f87719;
    font-weight: 500;
    font-size: 16px;
  }

  .img {
    position: relative;
  }

  .all {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .movie-card {
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
  }
  
  .stars {
    position: absolute;
    right: 0;
  }

  .info {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    transition: opacity 0.3s ease-in-out;
    gap: 98px;
  }

  .film-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 14px;
  }

  /*STARS CSS*/
  .checked {
    color: #f87719;
  }

  /* .icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
  } */

  /* ==========================================
Single-colored icons can be modified like so:
.icon-name {
  font-size: 32px;
  color: red;
}
========================================== */

  /* .icon-star-o {
    width: 0.9287109375em;
  }

  .icon-star-half {
    width: 0.4638671875em;
  }

  .icon-star {
    width: 0.9287109375em;
  }

  .icon-text {
    width: 12.3330078125em;
  } */
}
